

h1{
    color: aliceblue;
    text-align: center;
}

h5{
    font-size: 1.5rem;
}


.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 15rem;
}


.galleryItem{
    border: 1px solid transparent;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.galleryImg{
    border-radius: 10px;
}

